/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar. 2, 2020, 11:05:34 a.m.
    Author     : nehar
*/

.pic img{
       width:190px;
       height:170px;
}
h1
{
        font-family:"Sans-serif";
	position:absolute;
	color:white;
        text-shadow:2px 2px 2px yellow;
        
}
.screen #cartoon,#ship1,#ship2,#ship3 {
        position:absolute;
}
.screen
{
	height:750px;
	width:750px;
	background-image:url('../images/sky.jpg');
	margin:0 auto;
	position:absolute;
	
}
